/EmbeddedSoftware/SandBox/Debug/*
/EmbeddedSoftware/SandBox/.vs/*
/EmbeddedSoftware/eWheel/Debug/*
/EmbeddedSoftware/eWheel/.vs/*
/DiagMonitor/.vs/*
/DiagMonitor/obj/Debug/*
/DiagMonitor/bin/Debug/*

/TraceLoader/packages/*
/TraceLoader/.vs/*
/TraceLoader/TracePersistence/bin/*
/TraceLoader/TracePersistence/obj/*
/TraceLoader/TraceLoader/bin/*
/TraceLoader/TraceLoader/obj/*

*.atsln

*.atsuo

*.sln

*.suo

*.cache
