/Firmware/Debug/*
/Firmware/.vs/*

/TraceLoader/packages/*
/TraceLoader/.vs/*
/TraceLoader/TracePersistence/bin/*
/TraceLoader/TracePersistence/obj/*
/TraceLoader/TraceLoader/bin/*
/TraceLoader/TraceLoader/obj/*

*.atsln

*.atsuo

*.sln

*.suo

*.cache
