/EmbeddedSoftware/SandBox/Debug/*
/EmbeddedSoftware/SandBox/.vs/*
/EmbeddedSoftware/eWheel_Firmware/Debug/*
/EmbeddedSoftware/eWheel_Firmware/.vs/*
/DiagMonitor/.vs/*
/DiagMonitor/obj/Debug/*
/DiagMonitor/bin/Debug/*
/TraceView/TracePersistence/bin/*

/TraceView/TracePersistence/obj/*

/TraceView/TraceView/obj/*

/TraceView/TraceView/bin/*

*.atsln

*.atsuo

*.sln

*.suo

*.cache